.col-md-6 {
  margin-bottom: 1.5rem !important; 
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;  
}

li {
  background-color: #F8F9FA;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
}

ul.text-center li {
  text-align: center;
}

